/* CSS COMMENT EXAMPLE */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*This will set a background and font for my header */
header {
  background-color: gray;
  background-size: cover;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
/* This establishes styles for my story headline */
h1 {color: darkslategray;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  padding-left: 40px;
  padding-right: 500px;
  /* This establishes styles for my subheadline and blockquotes */
}
h2, blockquote {color: gray;
  text-align: "center";
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 40px;
  padding-right: 500px;

}
body {color: darkslategray;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Libre Baskerville', serif;
}
img {max-width: 50%;
    max-height: auto;
    padding-left: 20px;
  }

h3 {
    color: gray;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding-left: 40px;
}
/* This establishes styles for my byline */
#byline {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  padding-left: 40px;
}
/* This establishes styles for my dates */

#date {
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  padding-left: 40px;
}
/* This establishes styles for my photo captions */

#photocredit {
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  padding-left: 40px;
}
/* This establishes styles for my article text */

.articletext {
  padding-left: 40px;
  padding-right: 500px;
}
/*Social Buttons for footer */
.twitter-follow-button {
  padding-top: 2.5px;
  filter: grayscale(100%);

}
/*Embedded tweet*/

.twitter-tweet {
  padding: 20px 0px 20px 40px;
}
/*Side by side photo alignment*/

#sidebyside {
   width: 35%;
   padding: 5px;
   padding-left: 40px;
 }
 #sidebyside2 {
    width: 27%;
    padding: 5px;
    padding-left: 40px;
  }
  /*Styles for footer*/
.footer {
  padding-left: 40px;
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: white;
  background-size: contain;
}
/*Remove link formatting*/
.link {
  color: inherit;
  text-decoration: none;
}
/*Create a circular, black and white portrait photo*/

#portrait {
  border-radius: 50%;
  filter: grayscale(100%);
  width:20%;
  height: auto;
}
