/* HTML COMMENT EXAMPLE */
h1 {color: aquamarine;
  background: darkslategray;
  font-size: 64px;
  font-weight: bold;
  font-family: 'Istok Web', sans-serif;

}
h2 {color: steelblue;
  background: aquamarine;
  text-align: "center";
  font-size: 32px;
  font-family: 'Istok Web', sans-serif;

}
p {color: darkslategray;
  font-size: 18px;
  font-family: 'Merriweather', serif;
}
img {max-width: 600px;
    max-height: auto;
    background-color: white;
  }
ul, ol, li {
  color: darkslategray;
  font-size: 18px;
  font-family: 'Merriweather', serif;
}
h3 {
  color: aquamarine;
    background: darkslategray;
    font-weight: bold;
    font-family: 'Istok Web', sans-serif;
}
